{%extends 'base.html'%} {% block content %}
<script>
    $('#myModal').on('shown.bs.modal', function() {
        $('#myInput').trigger('focus')
    })
</script>
<h1 class="text-center" style="color:#6153cc;">My Collection</h1>
<div class="container">
    <!-- Looping through category  -->
    {% for i in image %}


    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="border:solid 5px #6153cc;border-radius: 25px;">
        <a href="#" class="btn btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            <img src="{{i.img.url}}" class="img-responsive" alt="Image" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> </a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle" style="color: #6153cc;"> {{i.name}} </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
                </div>
                    <div class="modal-body col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <img src=" {{i.img.url}} " class="img-responsive " alt="Image " class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> </a>
                        <h2 class="text-center " style="color: #6153cc; "> {{ i.name }} </h2>
                        <p>{{i.description}}</p>
                        <p style="color: #6153cc;">Location: {{i.location}}</p>
                    </div>
                <div class="modal-footer ">
                    <button onclick="myFunction()">Copy Text</button>

                </div>
            </div>
        </div>
    </div>

    <!-- end of modal -->


    <br> {% empty %}
    <div class="row ">
        <h2 class="text-center ">There No images</h2>
        <p>{{i.description}}</p>

    </div>
    {% endfor %}
</div>


{% endblock %} {% block scripts %} {{block.super}}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
{% endblock %}