{%extends 'base.html'%} {% block content %}
<h1 class="text-center" style="color: #6153cc;">Photo {{image.id}}</h1>

<div class="row" style="border:solid 5px #6153cc;border-radius: 25px;">

    <!--Display news Article images  -->
    <div class=" col-sm-6 col-md-6 col-lg-6">
        <img src="{{image.img.url}}" class="img-responsive" alt="Image" style="width:600px;height:400px;">
    </div>
    <!-- displaying News articles -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h2 class="text-center" style="color: #6153cc;"> {{ image.name }} </h2>
        <p>{{image.description}}</p>
        <p style="color: #6153cc;">{{image.location}}</p>
    </div>

</div>
{% endblock %}